$linkColor: #04c9fb;
$textColor: #3e3e3e;
$text2Color: #333333;
$wetasphalt: #34495e;
$belizehole: #2980b9;

// $buttonWidth: 30px;
// $buttonHeight: 26px;
// $buttonColor: darken(#2B32B2, 15%);
// $lineThickness: 4px;
// $transitionSpeed: .3s;
// $transitionEasing: ease-in-out;


$numOfSlides: 5;
$slidingAT: 1.3s;
$controlSize: 60px;
