@font-face {
  font-family: 'LehmannC';
  src: url('../fonts/LehmannC/');
  src: url('../fonts/LehmannC/?#iefix') format('embedded-opentype'),
      url('../fonts/LehmannC/LehmannC.woff2') format('woff2'),
      url('../fonts/LehmannC/LehmannC.woff') format('woff'),
      url('../fonts/LehmannC/LehmannC.ttf') format('truetype'),
      url('../fonts/LehmannC/LehmannC.svg#LehmannC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akademitscheskaya';
  src: url('../fonts/Akademitscheskaya/');
  src: url('../fonts/Akademitscheskaya/?#iefix') format('embedded-opentype'),
      url('../fonts/Akademitscheskaya/Akademitscheskaya.woff2') format('woff2'),
      url('../fonts/Akademitscheskaya/Akademitscheskaya.woff') format('woff'),
      url('../fonts/Akademitscheskaya/Akademitscheskaya.ttf') format('truetype'),
      url('../fonts/Akademitscheskaya/Akademitscheskaya.svg#Akademitscheskaya') format('svg');
  font-weight: normal;
  font-style: normal;
}
  